---
import Layout from '../layouts/BlogPost.astro';
import Pages from '../layouts/Pages.astro';
---

<Pages>
	<Layout
		title="About Me"
		description="Lorem ipsum dolor sit amet"
		pubDate={new Date('August 08 2021')}
		heroImage="/product_1.jpg"
	>
		<p>
			Bienvenue chez Cissy's Hair l'épicentre de la beauté africaine!!! Notre entreprise est née de la passion pour la mise en avant des coiffures africaines et le désir de redéfinir la beauté.
		</p>

		<p>
			Depuis nos débuts modestes, Cissy's Hair s'est hissé au sommet de l'industrie des mèches, devenant une référence incontournable pour celles qui aspirent à une coiffure africaine éblouissante. Notre engagement envers la qualité exceptionnelle transparaît dans chaque produit que nous proposons, méticuleusement sélectionnés.
		</p>

		<p>
			Nos mèches sont conçues pour célébrer la diversité de la beauté naturelle, offrant des options variées qui s'adaptent à tous les styles et préférences. Chaque brin témoigne de notre engagement envers l'excellence, alliant innovation et savoir-faire.
		</p>

		<p>
			Notre parcours a été marqué par des moments de croissance, d'inspiration et de connexion avec notre communautéde passionnés de beauté. Grâce à nos clients dévoués, nous avons évolué et élargi notre gamme de produits, restant toujours à l'avant-garde des tendances capillaires.
		</p>

		<p>
			Rejoignez-nous dans cette aventure capillaire exceptionnelle.
			Transformez votre look, élevez votre confiance avec Cissy's Hair
		</p>
	</Layout>

</Pages>