---
import Container from '../../components/Container.astro'
import Pages from '../../layouts/Pages.astro'
import FilterComponent from '../../components/filtre'
import { TitleBar } from '../../components/titre';
import Produits from '../../components/Produits.astro'
import Sociaux from '../../components/sociaux';

const _url = Astro.url
const response = await fetch(_url.origin + '/api/boutique.json') 
const data = await response.json()
---

<style>
    .line-height-1 {
        line-height: 1;
    }
    .titre {

    }
</style>

<Pages>
    <section class="py-[64px]">
        <Container>
        <div class="px-4 lg:px-0">
            <div class="text-6xl font-bold">Boutique.</div>
            <div class="text-6xl">Achetez auprès des créateurs.</div>
        </div>
        </Container>
    </section>
    <section class="bg-white">
        <Container>
            <FilterComponent client:load />
            <div>
                <div class="flex gap-3 items-center mb-4 flex-col lg:flex-row px-4 lg:px-0">
                    <input type="text" name="" id="" class="flex-1 border px-4 py-2 w-full" placeholder="Entrez le code promotionnel">
                    <button class="px-5 py-1 bg-sky-700 rounded-lg text-white w-full lg:w-max">Recheche</button>
                </div>
            </div>
            <TitleBar titre = "Liste" />
            <div>
                <div class="grid grid-cols-2 lg:grid-cols-3 lg:gap-[21px] gap-3 w-[92vw] lg:w-full mt-0 mx-auto mb-28">
                    {
                        data.map((el, key) => <Produits data = {el} key = {key} />)
                    }
                </div>
            </div>
            <TitleBar titre={"Suivez nous sur les réseaux"} />
			<Sociaux client:load
				classe = "line-height-1"
			/>
        </Container>
    </section>
</Pages>
